.main {
  width: 984px;
  height: 983px;
  margin: 194px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Inter", Arial, sans-serif;
  text-align: center;
}

.page__main-title {
  width: 720px;
  height: 200px;
  margin: 0 auto;

  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  letter-spacing: 0%;
}
